/Breadbord_power_supply/fp-info-cache
/Breadbord_power_supply/Breadbord_power_supply-backups
/'Breadbord_power_supply/BreadbordPowerSupplyGerber

/Prj1-LED_Torch/fp-info-cache
/Prj1-LED_Torch/Prj1-LED_Torch-backups
/Prj1-LED_Torch/Prj1LEDTorchGerber

/MCU_datalogger_atmega328p/fp-info-cache
/MCU_datalogger_atmega328p/MCU_datalogger_atmega328p-backups
/MCU_datalogger_atmega328p/MCUDataloggerAtmega328pGerber

/MCU_datalogger_atmega328p_4_layers/fp-info-cache
/MCU_datalogger_atmega328p_4_layers/MCU_datalogger_atmega328p_4_layers-backups
/MCU_datalogger_atmega328p_4_layers/MCUDataloggerAtmega328pGerber_4_layers

/Tools
/MCU_datalogger_atmega328p_FreeRouting

/Custom_arduino_board/fp-info-cache
/Custom_arduino_board/Custom_arduino_board-backups
